body{
    background-color: #23272A;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-left: 24px;
}
h1{
    text-align: center;
}
p{
    font-size: 20px;
}
.button{
    font-size: 16px;
    background-color: #2C2F33;
    color: white;
    border: none;
    outline:none;
}